<div class="item-inner">
  {% if icon_url %}
    <div class="icon"><img src="{{ icon_url }}" alt="right icon" loading="lazy"></div>
  {% endif %}
  {% if name %}
    <div class="name">
      <span>{{ name }}</span>
    </div>
  {% endif %}
</div>
