.rectangle-footer {
  .cta {
    position: relative;
    margin-top: 130px;

    .rectangle-background {
      background-image: url('../assets/icons/rectangle-footer.svg');
      width: 100%;
      position: absolute;
      z-index: -1;
      background-size: cover;
      transform: translateY(calc(-100% + 1.6px));
      aspect-ratio: 1511 / 511;
    }
  }
}

@include media-breakpoint-down(md) {
  .rectangle-footer {
    .cta {
      margin-top: 80px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .rectangle-footer {
    .cta {
      margin-top: 60px;
    }
  }
}

.cta {
  background-color: #3d3a3a;
  font-family: $font-svn-circular;

  .cta-content {
    max-width: 840px;
    width: 50%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 117px;
    color: $white;

    .title {
      font-family: $font-geometric-slabserif-medium;
      text-align: center;
      font-size: 32px;
      line-height: 38.4px;
      font-weight: 700;

      a,
      u {
        color: $white;
        text-decoration-color: $primary;
        text-decoration-thickness: 8px;
      }

      a {
        &:hover {
          text-decoration: underline;
          color: $primary;
          text-decoration-thickness: 8px;
        }
      }
    }

    .body {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      padding-top: 20px;
    }

    .button-wrap {
      padding-top: 24px;

      .ces-btn {
        margin: auto;
        text-transform: none;
        padding: 12px 16px;
        font-weight: 450;
        font-size: 18px;
        line-height: 27px;
        font-family: $font-svn-circular;
        display: block;
        text-align: center;
      }
    }
  }
}

// Mobile < 767 px.
@include media-breakpoint-down(md) {
  .cta {
    .cta-content {
      width: calc(100% - 32px);
      padding: 44px 0;

      .title {
        font-size: 22.4px;
        line-height: 25.9px;
      }

      .body {
        font-size: 16px;
        line-height: 21px;
        padding-top: 8px;
      }

      .button-wrap {
        padding-top: 20px;

        .ces-btn {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

// Tablet 768px -> 991px.
@include media-breakpoint-between(md, lg) {
  .cta {
    .cta-content {
      width: calc(100% - 96px);

      .title {
        font-size: 22.4px;
        line-height: 25.9px;
      }

      .body {
        font-size: 16px;
        line-height: 21px;
        padding-top: 8px;
      }

      .button-wrap {
        padding-top: 20px;

        .ces-btn {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

// Desktop 992px -> 1199px.
@include media-breakpoint-between(lg, xl) {
  .cta {
    .cta-content {
      width: calc(100% - 96px);

      .title {
        font-size: 22.4px;
        line-height: 25.9px;
      }

      .body {
        font-size: 16px;
        line-height: 21px;
        padding-top: 8px;
      }

      .button-wrap {
        padding-top: 20px;

        .ces-btn {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}
