<div class="case-studies__view-empty container">
  <div class="case-studies__view-empty__text">
    <h2>Sorry, no results were found.</h2>
    <img class="case-studies__view-empty__icon" src="/themes/custom/ces/assets/icons/not-found-unicorn.png" alt="empty" loading="lazy"/>
    {{empty}}
  </div>
</div>
