{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set type = content.field_hero_type['#items'].0.value %}
{% set title = content.field_title['#items'].0.value %}
{% set icon_url = content.field_image_content['#items'].entity|file_url %}
{% set subtitle = content.field_subtitle['#items'].0.value %}
{% set body = content.body['#items'].0.value %}
{% set button_text = content.field_button_text['#items'].0.value %}
{% set button_link = content.field_link['#items'].0.value.uri %}
{% set current_url = path('<current>') %}

{% if type is same as('case_study_top_hero') %}
  {% set hero_class = "case-study" %}
{% elseif type is same as('lets_talk') %}
  {% set hero_class = "lets-talk" %}
{% else %}
  {% set hero_class = "" %}
{% endif %}

<div{{attributes}}>
  {{ title_suffix }}
  {% block content %}
    <div class="block-container">
      <div class="container hero {{ hero_class }}">
        {% include '@ces/templates/block/hero/' ~ type|replace({'_' : '-'}) ~ '.html.twig' ignore missing %}
      </div>
    </div>
  {% endblock %}
</div>
