<div class="block-form__wrapper">
  <div class="block-form__column">
    <div class="block-form__info-wrap">
      {% if title %}
        <div class="block-form__title">
          {{ title }}
        </div>
      {% endif %}
      {% if body %}
        <span class="block-form__form-body">
          {{ body }}
        </span>
      {% endif %}
      {% if company_contact %}
        <div class="block-form__contact-info">
          {{ company_contact }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="block-form__column">
    {{ form }}
  </div>
</div>
